
<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"> <h5 class="title">Add Color</h5> </div>
            <div class="card-body">
                    <div class="mb-3">
                        <label for="FullName">Full Name</label>
                        <input type="text" id="FullName" formControlName="FullName" class="form-control" placeholder="FullName">
                    </div>
                    <div class="mb-3">
                        <label for="CardNumber">Card Number</label>
                        <input type="text" id="CardNumber" formControlName="CardNumber" class="form-control" placeholder="CardNumber">
                    </div>
                    <div class="mb-3">
                        <label for="ExpirationMonth">Expiration Month</label>
                        <input type="text" id="ExpirationMonth" formControlName="ExpirationMonth" class="form-control" placeholder="ExpirationMonth">
                    </div>
                    <div class="mb-3">
                        <label for="ExpirationYear">Expiration Year</label>
                        <input type="text" id="ExpirationYear" formControlName="ExpirationYear" class="form-control" placeholder="ExpirationYear">
                    </div>
                    <div class="mb-3">
                        <label for="CVV">CVV</label>
                        <input type="text" id="CVV" formControlName="CVV" class="form-control" placeholder="CVV">
                    </div>
            </div>
            <button type="button"  class="btn btn-dark">Rent</button>

            <div class="card-footer">
            </div>
        </div>
    </div>
</div>