
<div>
  <ul  *ngFor="let color of colors">
    <li (click)="setCurrentColor(color)" >{{color.colorName}}</li>
  </ul>
</div>
              <form  [formGroup]="colorUpdateForm">
                  <div class="form-group">
                    <label for="colorName" class="col-sm-2 col-form-label col-form-label-sm">Renk Adı</label>
                  <input type="hidden" formControlName="colorId"/>
                   <input type="text"
                    id="colorName" 
                   formControlName="colorName"
                   class="form-control"
                   placeholder="Renk Adı"/>  
                  </div>
                  <br>
                  <button style="float:right;" type="button" (click)="updateColor()"class="btn btn-outline-dark">Güncelle </button>
              </form>
            